/*@font-face {
	font-family:space;
	src: local('Verdana');
	unicode-range: U+20;
}*/
@font-face {
	font-family:Compagnon2;
	font-style:normal;
	unicode-range:U+0041—007A;
	/*font-display:fallback; causes layout shift issues */
	font-display:optional; /* "font-display: optional can avoid a re-layout as the web font is only used if it is available by the time of initial layout." */
	src:url(/font/Compagnon-Roman.woff2);
}
@font-face {
	font-family:Kaisei Decol;
	font-weight:bold;
	unicode-range:U+3041—309F;
	font-display:optional;
	src:url(/font/kaisei-decol-japanese.woff2);
}
/*@font-face {
	font-family:Compagnon2;
	font-weight:900;
	unicode-range:U+0041—007A;
	src:url(Compagnon-Roman.woff2);
}*/
@font-face {
	font-family:Compagnon;
	font-style:italic;
	font-weight:900;
	font-display:optional;
	src:url(/font/Compagnon-Italic-bold-thinSpace2.woff2);
}
@font-face {
	font-family:Compagnon;
	font-style:normal;
	font-weight:normal;
	font-display:optional;
	src:url(/font/Compagnon-Roman.woff2);
}
@font-face {
	font-family:Kiwi Maru;
	font-style:normal;
	unicode-range:U+3041—309F;
	font-display:optional;
	src:url(/font/kiwi-maru-japanese.woff2);
}
@font-face {
	font-family:Kiwi-Maru;
	font-style:normal;
	/*unicode-range:U+0041—007A;*/
	font-display:optional;
	src:url(/font/KiwiMaru-en-ext3.woff2);
}
:root {
	--purple:#40006B;
	--sky:#CFFFFE;
	--pink:#FF4C60;
	--blue:#0165FF;
	--robin:#01a6ff;
	--link:var(--blue);
	--bg:var(--sky);
	--txt:var(--purple);
}
::selection {
	background-color:var(--pink);
	color:var(--bg);
}
@media screen and (forced-colors: none) {
	::-webkit-scrollbar {
		background-color:var(--txt);
	}
	::-webkit-scrollbar-button {
		background:no-repeat var(--txt);
		background-size:0.75rem;
		background-position:center bottom;
	}
	::-webkit-scrollbar-button:vertical:decrement {
	  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23CFFFFE'><polygon points='0,50 100,50 50,0'/></svg>");
	}
	::-webkit-scrollbar-button:vertical:increment {
	  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23CFFFFE'><polygon points='0,0 100,0 50,50'/></svg>");
	}
	::-webkit-scrollbar-thumb {
		background:no-repeat var(--pink);
		background-size:0.75rem;
		background-position:center center;
		background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%2340006B'><line x1='0' y1='0' x2='100' y2='0' style='stroke:rgb(73,0,120);stroke-width:16'></line><line x1='0' y1='50' x2='100' y2='50' style='stroke:rgb(73,0,120);stroke-width:10'></line><line x1='0' y1='100' x2='100' y2='100' style='stroke:rgb(73,0,120);stroke-width:16'></line></svg>");
	}
}
/*@media screen and (forced-colors: active) {

}*/

body {
	background-color:var(--bg);
	color:var(--txt);
	margin:0;
	min-height:100vh;
	position:relative;
	font-family:Kiwi Maru,American Typewriter,Hiragino Maru Gothic Pro,Arial Rounded MT,UD Digi Kyokasho N-B;
	overflow-x:clip;
	/* may 29 2024 */
	/*position: relative;*/
	width:100vi;
	max-width:100vi;
}
*:lang(en)/* I hope this change didn't break anything */ span:lang(ja){font-family:Kiwi Maru}
* {text-decoration-thickness:from-font;text-underline-position:from-font}
button,a{transition-duration:.4s}
a>*{transition-duration:0s} /* fixes webkit bug (found in Epiphany browser) */
a>code{transition-duration:.4s}
button:active,a:active {transition-duration:.1s}
body:lang(en) {
	font-family:Kiwi-Maru,American Typewriter,Hiragino Maru Gothic Pro,Arial Rounded MT,UD Digi Kyokasho N-B;
}
em:lang(ja) {font-style:normal;font-weight:bold}
q:lang(en):before {content:"“"} q:lang(en):after {content:"”"} 
header, header a, header h1 {
	padding:0;
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
}
header {
	padding-top:2vh;
	margin-bottom:1vh;
}
header img {
	float:none;
	width:100%;
	height:100%;
	max-width:7rem;
	flex-basis:7rem;
	margin:0;
	background-color:initial;
}
#blogtitle {
	max-width:30rem;
	flex-basis:30rem;
	padding-right:0;
}
header a, header h1 {
	max-width:37.5rem;
	flex-grow:1;
}
header a:hover, header a:focus-visible {
	filter:hue-rotate(-80deg) brightness(58%) contrast(128%);
}
header a:active {
	filter:none;
}
nav > ul, nav > ul > li {
	display:flex;
}
nav, nav > ul {
	text-align:center;
	justify-content:flex-end;
	max-width:44rem;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
nav > ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
nav > ul > li {
	margin-left:0.4%;
	cursor:initial;
	display:flex;
}
nav > ul > li > a, nav details, button, .nxt, .btnlink, button:hover:disabled, button:active:disabled {
	background-color:var(--txt);
	border-radius:0.4rem;
	font-size:clamp(.1rem,3vw,.9rem);
	padding:.3rem;
	text-decoration-color:transparent;
	display:flex;
	align-items:center;
	border:.1rem solid transparent; /*for borders in high contrast mode*/
	/*make sure all navlinks display at any screen size*/
	align-self:flex-start
}
[rel=next]{float:right}
nav details, button:lang(en), nav li > a:lang(en), .nxt:lang(en), .btnlink:lang(en) {
	font-weight:bold;
}
nav a:hover, button:hover, .nxt:hover, .btnlink:hover, nav a:focus-visible, button:focus-visible, .nxt:focus-visible, .btnlink:focus-visible {
	background-color:var(--pink);
	color:white;
	cursor:pointer;
}
nav a:active, button:active, .nxt:active, .btnlink:active {
	background-color:var(--txt);
	color:var(--bg);
}
nav details ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:right
}
nav details {
	color:var(--bg);
	align-self:flex-start;
}
nav details ul a{text-decoration-color:transparent}
nav details /*ul*/ a:hover,nav details /*ul*/ a:focus-visible {
	background-color:transparent;
	color:var(--pink)
}
.toc {
	width: fit-content;
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index:99;
}
.toc, .toc * {
	text-align: unset;
}
.toc summary {
	text-align: right;
}
/* modified from https://stackoverflow.com/a/26245056/20697953 */
.toc ol {
  list-style-type: none;
  counter-reset: item;
	padding-left:1rem;
	padding-right:1rem;
}

.toc ol > li {
  counter-increment: item;
}

.toc ol > li:before {
  content: counters(item, ".") ". ";
}

.toc li ol > li:before {
  content: counters(item, ".") " ";
}

article, section, .tags, .pnav, div.section, main /*new addition Feb 18 2024*/ {
	margin-left:auto;
	margin-right:auto;
	max-width:calc(35rem * 1.3); /*1.3 compensates for the difference between the root font size and p's font size*/
	padding-bottom:4vh;
	display:flow-root;
}
.fullwidth { /* used to set main (or any arbitrary element) to the full width of the page, and center it. */
	width:100vi;
	max-width:100vi;
	/*https://stackoverflow.com/questions/5581034/is-there-a-way-to-make-a-child-divs-width-wider-than-the-parent-div-using-css*/
	position: relative;
  left: calc(-50vw + 50%);
}
.no-padding-bottom { /* used to remove the padding-bottom that is set on main by default */
	padding-bottom:initial;
}
section.nospace {
	padding-bottom:0;
	display:block;
}
hr.invisible-pause{ /* This will replace all instances of </section><section> to denote a semantic pause without a header. */
	opacity:0;
	height:1rem;
}
body>article:last-of-type{padding-bottom:10vh}
.pnav {position:absolute;bottom:2rem;left:0;right:0;padding:0}
.tags ul, .gallery {
	margin:0;
	padding:0;
}
.tags ul li, .gallery li {
	display:inline;
}
.tags ul li:not(.tags ul li:last-child)::after {
	content:" / "
}
h1 + time, article time {
	display:block;
	text-align:right;
	width:100%;
}
.sidebyside {
	display:flex;
	flex-wrap:wrap;
}
.sidebyside > section:first-child {
	margin-right:1vw;
}
.sidebyside > section:last-child {
	padding-bottom:3rem;
}
.sidebyside > section {
	flex:100px;
}
button, button:hover, button:active {
	font-family:inherit;
	/*border-style:hidden;*/ /*why did i add this?*/
}
h2, /*h2 *,*/ h1, /*h1 * this breaks hover colors,*/ h1 a, h2 a {
	font-family:Compagnon2,Kaisei Decol,American Typewriter, Hiragino Mincho Pro,Maiandra GD,BIZ UDPMincho;
	color:var(--pink); 
	margin-top:1rem;
	margin-bottom:1rem;
}
h2:lang(en), h2 *:lang(en), h1:lang(en), h1 *:lang(en) {
	font-family:Compagnon,Curlz MT,Forte,Pilgiche,Apple Chancery,Blackadder ITC,Lucida Calligraphy,Segoe Script,Brush Script MT;
	/*-webkit-text-stroke:0.08rem;*/
	/*word-spacing:-0.5rem;*/
	/*font-weight:normal;*/
	font-style: italic;
}
h2:lang(en) i, h2 a:lang(en) i, h1:lang(en) i, h1 a:lang(en) i {
	font-style: normal;
}
h2 a:active, h1 a:active{
	color:var(--pink);
}
h2[itemprop], h1[itemprop], article > h1, article>a:first-child, article>a>h1 {
	margin-bottom:0;
}
.gallery {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.gridlery {
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
	gap:1rem
}
.siximagegrid {
	display:grid;
	gap:1vw;
	grid-template-columns: auto auto
}
.padt {
	padding-top:1rem;
}
.padb {
	padding-bottom:4vh;
}
.fs {
	align-items:flex-start;
}
.gallery, .gallery > li > a > p {
	font-size:.8rem;
}
.gallery > div {
	flex:200px;
}
.gallery > img {
	flex:170px;
}
.gallery article, .gallery article > p, .gallery article > h2 {
	float:none;
	margin:0;
	word-spacing:normal;
	-webkit-text-stroke:initial;
	font-weight:bold;
}
html:lang(en) .gallery article > p, html:lang(en) .gallery article > h2 {
	font:bold 0.8rem Kiwi-Maru; /**/
}
.gallery article {
	padding-bottom:0;
}
.gallery > li {
	display:flex;
	flex:200px;
}
.gallery > li > a {
	padding:0.1rem;
	color:var(--pink);
	text-decoration:none;
	width:100%;
}
.gallery > li > a:lang(en) {
	font-weight:bold;
}
.gallery > li > a > p, .gallery > li > a > time /* p and time */ {
	color:var(--txt);
	font-weight:initial;
}
.gallery > li > a > time {
	float: right;
}
.gallery > li > a:hover, .gallery > li > a:focus-visible {
	color:var(--pink);
}
.gallery>li>a:hover, .gallery>li>a:focus-visible {
	border-color:var(--pink);
}
.gallery img {
	float:none;
	margin:0;
}
.gallery p {
	margin:0;
	margin-top:0.1rem;
	float:left;
}
.gallery div, .gallery > li > a, .gallery > img {
	margin:0.5rem;
	margin-top:0;
	border:solid;
	border-radius:0.4rem;
	position:relative;
	border-color:var(--txt);
}
.gridlery div, .gridlery > li > a, .gridlery > img {margin:0;box-sizing:border-box}
.gallery > div > a {
	padding:2px;
	float:right;
}
.slideshow {height:80vh;width:80vw;position:relative;margin-left:auto;margin-right:auto;background-color:white;border: solid 2vmax white;border-radius:1rem;}
.slideshow>*{
	max-height:100%;
	float:none;
	margin:0;
	visibility: hidden; position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-iteration-count:infinite;
	animation-play-state: running;
}
.threeslides > * {animation-name: threeslideshow; animation-duration:12s;} /*DO NOT USE NUMBERS FOR CLASS NAMES*/
.threeslides > *:nth-child(2) {animation-delay: 4s}
.threeslides > *:nth-child(3) {animation-delay: 8s}

@keyframes threeslideshow {
	0% {visibility: visible; opacity:0}
	3% {opacity:1}
	30%{opacity:1}
	33.33% {visibility: hidden; opacity:0}
}
section>details,section>details>summary{margin-bottom:1rem}
blockquote {
	margin-left:3vw;
	margin-right:3vw;
}
p {
	margin-top:0;
}
a, button, button:disabled:hover, button:disabled:active, a>code {
	color:var(--link);
}
a:hover, a:focus-visible, a:hover>code {
	color:var(--txt);
}
a:active {
	color:var(--link);
}
a[target="_blank"]::after{
	content: " [opens in new tab]";
	position:absolute;
	left:-9999px
}
a.yt {
	background:url(https://www.youtube.com/s/desktop/cafdf09f/img/favicon_144x144.png) center/4.5rem auto no-repeat, var(--ytimgurl) center/100% no-repeat;
	display:block;
	width:100%;
	max-width:var(--w);
	aspect-ratio:16/9;
	/*color:black;
	-webkit-text-stroke:.9px white;*/
	font-size:clamp(1rem,4vw,1.5rem)
}
a.yt>span{
	color:white;
	background-color:#000c;
}
a.yt>span::before{
	content: "YouTube video: ";
	position:absolute;
	left:-9999px
}
span.nowrap {white-space:nowrap}
span[title] {text-decoration: underline dotted}
abbr {
	text-decoration:none;
}
strong, h3, b.color {
	color: var(--pink);
}
.uppercase {
	text-transform: uppercase;
}
h3 {
	font-size:1.35rem;
}
h3:lang(en) {
	font-style: italic;
}
code {
	background:black;
	color:white;
	padding:.1rem;
	border-radius:.4rem
}
footer {
	bottom:.4rem;
	position:absolute;
	background-color:var(--pink);
	left:.8%;
	right:.8%;
	color:var(--purple);
	font-size:.6rem;
	min-height:.6rem;
}
footer a, footer a:hover, footer a:active, footer a:focus-visible {
	color:var(--purple);
}
img, canvas, video {
	display:block;
	max-width:100%;
	height:auto;
	object-fit:contain;
	min-width:0;
	min-height:0;
	background-color:var(--txt);
	color:var(--bg);
}
.fri {float:right;margin-left:0.5vw}
.fli {float:left;margin-right:0.5vw}
.c, .c * {margin:auto;text-align:center}
img[src$=".svg"], .trans, video {
	background-color:initial;
	color:var(--robin)
}
.restrictsize {
	max-width:var(--w);
	width:100%;
	--w:403px;
}
article img {
	width:auto;
	height:100%;
	max-height:20rem;
	float:right;
	margin-left:.5vw
}
.imageWidth100perc img {
	width:100%;
}

.pixl {
	image-rendering:pixelated;
	width:100%;
	object-fit:fill;
	aspect-ratio:calc(var(--w)*8)/calc(var(--h)*7);
	--w:nothing;
	--h:nothing;
}
article img.pixl { /* apply properties like these to all .pixl images? */
	max-width:calc(20rem * calc(var(--w)*8)/calc(var(--h)*7) );
	max-height:20rem;
}
.websitecolor {
	background-color:initial;
}
iframe[title~=Youtube] {
	width:100%;
	height:100%;
	aspect-ratio:16/9;
	border:none
}
figure {
	margin-inline:3vw
}
figure>img,figure>video,figure>iframe{
	margin:auto
}
figure>img+figcaption,figure>video+figcaption,figure>iframe+figcaption{
	text-align:center
}
#pixfriends {
	display:flex;
	align-items:flex-end;
	float:right;
	margin-left:0.5vw;
	width:100%;
	max-width:400px;
}
#pixfriends img {
	float:none;
	margin-left:0;
	background-color:initial;
}
#imgmodal {
	
}
#imgmodal img {
	
}
#modal {
	position:fixed;
	z-index:1;
	display:none;
	width:100%;
	height:100%;
	background-color: rgb(255 255 255 / 50%);
	top:0;
	justify-content:center;
	align-items:center;
}
#modal p {
	position:fixed;
	bottom:5%;
	right:10%;
	color:var(--purple);
}
#modal img {
	width:80%;
	height:80%;
	float:none;
	background-color:white;
	padding:3%;
	border-radius:1rem;
	margin:0;
}
img[src^="/emoji/"]{
	width:1.2em;
	height:1.2em;
	display:inline-block;
	float:none;
	margin:0;
	vertical-align:-15%
}
summary{cursor:pointer}
table {
	border-collapse: collapse;
	border: 2px solid var(--txt);
	/*font-size: 0.8rem;*/
}
th, td {
	border: 1px solid var(--txt);
	padding: .7rem .8rem;
}
@media (prefers-color-scheme:dark) /*assuming that this media query will not activate if forced-colors is on*/ {
	:root {
		--bg:var(--purple);
		--txt:var(--sky);
		--link:var(--robin);
	}
	/*nav > ul > li a*/ nav a, button, .btnlink, .nxt {
		color:var(--blue);
	}
	.websitecolor {
		filter:invert(87%) sepia(98%) saturate(3651%) hue-rotate(173deg) brightness(116%) contrast(103%);
	}
	header a:hover, header a:focus-visible {
		filter:brightness(290%) hue-rotate(-110deg)
	}
	::-webkit-scrollbar-button:vertical:decrement {
	  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%2340006B'><polygon points='0,50 100,50 50,0'/></svg>");
	}
	::-webkit-scrollbar-button:vertical:increment {
	  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%2340006B'><polygon points='0,0 100,0 50,50'/></svg>");
	}
}
@media (prefers-color-scheme:light) {
	nav /*> ul > li*/ a, button, .btnlink, .nxt {
		color:white;
	}
	.websitecolor {
		filter:invert(17%) sepia(26%) saturate(7023%) hue-rotate(266deg) brightness(78%) contrast(128%);
	}
}
html {
	scrollbar-color:var(--pink) var(--txt);
}
@media (orientation: landscape) {
	/*article, section, .tags, .pnav {
		max-width:initial;
		width:46vw
	}*/
	body {font-size:1rem}
	nav > ul > li > a, nav details{align-self:flex-start}
	h2, h2 a, h1, h1 a {font-size:2rem}
	p, figcaption, blockquote, pre, section>ul,article>ul,section>ol,article>ol,section>details,section>details>*, main>ul,article>ul,main>ol,article>ol,main>details,main>details>*,.reg-size-text,.thysbelon-lty-title {
		font-size:1.3rem
	}
	nav > ul > li > a, nav details, button, .nxt, .btnlink, button:hover:disabled, button:active:disabled {
		border-radius:0.4rem;
		font-size:.9rem;
		padding:.3rem;
		border:.1rem solid transparent;
	}
}
@media (orientation: portrait) {
	/*article, section, .tags, .pnav {
		width:100%;
		max-width:initial
	}*/
	body {font-size:clamp(.8rem,2.5vw,1rem)}
	h2, h2 a, h1, h1 a {font-size:clamp(1.5rem,5vw,2rem)}
	h3{font-size:clamp(1.05rem,3vw,1.35rem)}
	p, figcaption, blockquote, pre, section>ul,article>ul,section>ol,article>ol,section>details,section>details>*, main>ul,article>ul,main>ol,article>ol,main>details,main>details>*,.reg-size-text,.thysbelon-lty-title {
		font-size:clamp(1rem,3vw,1.3rem)
	}
	nav > ul > li > a, nav details, button, .nxt, .btnlink, button:hover:disabled, button:active:disabled {
		border-radius:clamp(.2rem,1vw,.4rem);
		font-size:clamp(.1rem,3vw,.9rem);
		padding:.3rem clamp(.01rem,.2vw,.3rem);
		border:clamp(.01rem,.2vw,.1rem) solid transparent;
	}
	nav details /*ul*/ li {
		margin:1rem 0;
	}
	nav details li:last-of-type {
		margin-bottom:0;
	}
}
@media (min-width: 1930px) { /*4k television*/
	article, section, .tags, .pnav, div.section, main {
		max-width:initial;
		width:46vw
	}
	html {font-size:1vw}
}
