@font-face {
	font-family:Compagnon;
	font-style:normal;
	src:url(Compagnon-Roman.woff2);
}
@font-face {
	font-family:Compagnon;
	font-style:italic;
	src:url(Compagnon-Italic.woff2);
}
:root {
	--bg:#e0fffe;
	--txt:#490078;
}
::selection {
	background-color: #f55e61;
	color:var(--bg);
}
html {
	scrollbar-color:#f55e61 var(--txt);
}
::-webkit-scrollbar {
	background-color:var(--txt);
}
::-webkit-scrollbar-button {
    background:no-repeat var(--txt);
    background-size:0.75rem;
    background-position:center bottom;
}
::-webkit-scrollbar-button:vertical:decrement {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23e0fffe'><polygon points='0,50 100,50 50,0'/></svg>");
}
::-webkit-scrollbar-button:vertical:increment {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23e0fffe'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-thumb {
	background:no-repeat #f55e61;
    background-size:0.75rem;
    background-position:center center;
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23490078'><line x1='0' y1='0' x2='100' y2='0' style='stroke:rgb(73,0,120);stroke-width:16'></line><line x1='0' y1='50' x2='100' y2='50' style='stroke:rgb(73,0,120);stroke-width:10'></line><line x1='0' y1='100' x2='100' y2='100' style='stroke:rgb(73,0,120);stroke-width:16'></line></svg>");
}
body {
	background-color:var(--bg);
	color:var(--txt);
	margin:0;
	min-height:100vh;
	position:relative;
	font-family:Kiwi Maru,Mali,Nunito;
	overflow-x:hidden;
}
header, header a {
	padding:0;
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
}
header {
	padding-top:2vh;
	margin-bottom:1vh;
}
header img {
	float:none;
	transition-duration:0.4s;
	width:100%;
	height:100%;
	max-width:7rem;
	flex-basis:7rem;
	padding-right:5px;
	margin:0;
}
#blogtitle {
	max-width:30rem;
	flex-basis:30rem;
	padding-right:0;
}
header a {
	max-width:37.5rem;
	flex-grow:1;
}
header a:hover {
	filter:hue-rotate(-80deg) brightness(58%) contrast(128%);
}
header a:active {
	filter:none;
	transition-duration:0.1s;
}
nav, nav > a {
	display:flex;
}
nav {
	text-align:center;
	justify-content:flex-end;
	max-width:44rem;
	margin-left:auto;
	margin-right:auto;
}
nav > a, nav > details {
	background-color:var(--txt);
	margin-left:0.4%;
	padding:0.4rem;
	border-radius:0.4rem;
	font-size:0.9rem;
	text-decoration:none;
	align-items:center;
	font-weight:bold;
}
nav a:hover {
	background-color:#f55e61;
	color:white;
}
nav a:active {
	background-color:var(--txt);
	color:var(--bg);
}
nav ul {
	list-style-type:none;
	margin:0;
}
nav details {
	color:var(--bg);
	align-self:flex-start;
}
article, section {
	margin-left:auto;
	margin-right:auto;
	max-width:44rem;
	padding-bottom:4vh;
	display:flow-root;
}
h2, h2 a {
	font-size:2rem;
	font-family:Compagnon,Kaisei Decol;
	color:#f55e61;
	margin-top:1rem;
	margin-bottom:1rem;
}
h2:lang(en), h2 a:lang(en) {
	font-style:italic;
	-webkit-text-stroke:0.08rem;
	word-spacing:-0.5rem;
	font-weight:normal;
}
h2 a:active{
	color:#f55e61;
}
.gallery {
	padding-bottom:4vh;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.gsvg {
	align-items:flex-start;
}
.gsvg div {
	flex:200px;
}
.gallery article, .gallery article > p, .gallery article > h2 {
	font:0.8rem Kiwi Maru;
	float:none;
	margin:0;
}
.gallery article {
	padding-bottom:0;
}
.gallery > a {
	flex:100px;
	padding:0.1rem;
	color:var(--txt);
	text-decoration:none;
}
.gallery img {
	float:none;
	margin:0;
}
.gallery p {
	margin:0;
	margin-top:0.1rem;
	float:left;
}
.gallery div, .gallery > a {
	margin:0.5rem;
	margin-top:0;
	border:solid;
	border-radius:0.4rem;
	position:relative;
}
.gallery > div > a {
	padding:2px;
	float:right;
}
p, figcaption, blockquote {
	font-size:1.3rem;
}
p {
	margin-top:0;
}
a {
	transition-duration:0.4s;
	color:dodgerblue;
}
a:hover{
	color:var(--txt);
}
a:active {
	color:dodgerblue;
	transition-duration:0.1s;
}
span {
	white-space:nowrap;
}
abbr {
	text-decoration:none;
}
footer {
	bottom:0.4rem;
	position:absolute;
	background-color:#f55e61;
	left:0.8%;
	right:0.8%;
	color:#490078;
	font-size:0.6rem;
}
img {
	display:block;
	float:right;
	max-width:100%;
	height:auto;
	object-fit:contain;
	min-width:0;
	min-height:0;
	margin-left:0.5vw;
}
.restrictsize {
	max-width:var(--w);
	width:100%;
	--w:403px;
}
article img {
	width:auto;
	height:100%;
	max-height:20rem;
}
.pixl {
	image-rendering:pixelated;
	width:100%;
	object-fit:fill;
	aspect-ratio:calc(var(--w)*8)/calc(var(--h)*7);
	--w:nothing;
	--h:nothing;
}
.L {
	float:left;
	margin-left:0;
	margin-right:0.5vw;
}
#pixfriends {
	display:flex;
	align-items:flex-end;
	float:right;
	margin-left:0.5vw;
	width:100%;
	max-width:400px;
}
#pixfriends img {
	float:none;
	margin-left:0;
}
@media (prefers-color-scheme:dark) {
	:root {
		--bg:#490078;
		--txt:#e0fffe;
	}
	.websitecolor {
		filter:invert(87%) sepia(98%) saturate(3651%) hue-rotate(173deg) brightness(116%) contrast(103%);
	}
	header a:hover {
		filter:brightness(230%) hue-rotate(-160deg);
	}
	::-webkit-scrollbar-button:vertical:decrement {
	  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23490078'><polygon points='0,50 100,50 50,0'/></svg>");
	}
	::-webkit-scrollbar-button:vertical:increment {
	  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23490078'><polygon points='0,0 100,0 50,50'/></svg>");
	}
}
@media (prefers-color-scheme:light) {
	nav a {
		color:white;
	}
	.websitecolor {
		filter:invert(17%) sepia(26%) saturate(7023%) hue-rotate(266deg) brightness(78%) contrast(128%);
	}
}