---
# Metadata comes from _data/metadata.js
permalink: /feed/feed-jp.xml
layout: null
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="ja">
	<title>{{ metadata.titleJP }}</title>
	<subtitle>{{ metadata.descriptionJP }}</subtitle>
	<link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url | addPathPrefixToFullUrl }}ホーム/"/>
	<updated>{{ collections.jpPostsInComputedDateOrder | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.nameJP }}</name>
	</author>
	{%- for post in collections.jpPostsInComputedDateOrder %}
	{% set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ post.data.title if post.data.title else post.url | titleFromURL }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.data.computedDate | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.content | makeExcerpt(20, 'jp') | replace('</p><p>',' ') | stripJS | striptags }}</content>
	</entry>
	{%- endfor %}
</feed>
