<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=UTF-8>
<link rel=preload href=/ThysbelonTitle.svg as=image type=image/svg+xml>
<link rel=preload href=/thysbelonicon.svg as=image type=image/svg+xml>
<link rel=preload href=/BlogStylesheet.css as=style>
<meta name="color-scheme" content="dark light">
{%- if page.noindex or page.url contains "/page/" -%}<meta name=robots content=noindex>{%- endif -%}
{%- if page.alt -%}<link rel=alternate hreflang=ja href={{ site.url }}{{ page.alt }}>{%- endif -%}
<title>{% unless page.url contains "/Home" %}{% if page.title %}{{ page.title }}{% else %}{{ page.url | split: "/" | last | replace: "-", " " }}{% endif %} - {% endunless %}Thysbelon</title>
<meta name=theme-color content=#ff4c60>
{% if page.id %}<link rel=author href=/About/>{% endif %}
<meta name=viewport content=width=device-width,initial-scale=1.0>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% elsif page.id %}<meta name="description" content="{{ page.excerpt | replace: "<p>"," " | strip_html | strip_newlines | replace: '"','&quot;' | truncatewords: 50 }}">{% endif %}
{%- if page.script -%}{{- page.script -}}{%- endif -%}
{%- if page.url == "/Home" or page.url == "/Subscribe/" -%}<link rel="alternate" type="application/atom+xml" title="Thysbelon" href="/atom-en.xml">{%- endif -%}
<link rel=icon type=image/x-icon href={% if page.custmicon %}{{ page.custmicon }}{% else %}/thysbelonicon.svg{% endif %}>
<link rel=stylesheet href=/BlogStylesheet.css>
{%- if page.style -%}{% if page.style contains "<style>" %}{{ page.style }}{% else %}<style>{{ page.style }}</style>{% endif %}{%- endif -%}
</head>
<body>
<header>{% unless page.url == "/Home/index.html" %}<a href=/Home>{% endunless %}{% if page.custmlogo %}{{ page.custmlogo }}{% else %}<img id=blogtitle src=/ThysbelonTitle.svg alt=Thysbelon. width=1002 height=272><img src=/thysbelonicon.svg alt="Logo of a Hummingbird moth." width=280 height=280>{% endif %}{% unless page.url == "/Home/" %}</a>{% endunless %}</header>
<nav><ul{% if page.url == "/Archive/" %} style=flex-wrap:wrap{% endif %}>
{%- if page.url == "/Archive/" -%}
	{%- for i in site.archives -%}
		{%- if i.type == "year" -%}
			<li><details><summary>{{ i.url | split: "/" | last }}</summary><ul><li><a href={{ i.url }}>all</a></li>
			{%- for i2 in site.archives -%}
				{%- if i2.type == "month" and i2.url contains i.url -%}<li><a href={{ i2.url }}>{{ i2.url | split: "/" | last }}</a></li>{%- endif -%}
			{%- endfor -%}</ul></details></li>
		{%- endif -%}
	{%- endfor -%}
	<li><a href=/Tags/>Tags</a>
	<li><a href=/Categories/>Categories</a>
{%- elsif page.id or page.url contains "/Home" -%}
	{%- for i in site.pages -%}
		{%- assign groupcheck = i.url | split: "/" -%}
		{%- if groupcheck[2] == nil -%}
			{%- unless i.url == page.url or i.url contains ".html" or i.url contains "css" or i.url contains ".xml" or i.url contains ".js" or i.url == "/" or i.url == "/Home" or i.layout contains "jp" or i.type or i.nonav or i.tagroup -%}
				<li><a href={{ i.url }}>{{ i.url | split: "/" | last | replace: "-", " " }}</a>
			{%- endunless -%}
		{%- endif -%}
	{%- endfor -%}
	<li><details><summary>Art</summary><ul>{%- assign arts = site.pages | where: "tagroup", "Art" -%}{%- for i in arts -%}<li><a href={{ i.url }}>{{ i.url | split: "/" | last | replace: "-", " " }}</a>{%- endfor -%}</details>
	<li><a href=/>Language/言語</a>
{%- else -%}
	{%- assign groupcheck = page.url | split: "/" -%}
	{%- if groupcheck[2] != nil -%}
		{%- assign group = groupcheck[1] | prepend: "/" | append: "/" -%}
		<li><a href={{ group }}>{{ groupcheck[1] | replace: "-", " " }}</a>
		{%- for i in site.pages -%}
			{%- if i.url contains group and i.url != group and i.url != page.url -%}
				<li><a href={{ i.url | remove: group | prepend: "../" }}>{{ i.url | split: "/" | last | replace: "-", " " }}</a>
			{%- endif -%}
		{%- endfor -%}
	{%- else -%}
		{%- for i in site.pages -%}
			{%- if i.url contains page.url and i.url != page.url -%}
				{%- assign group = true -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}
		{%- if group == true -%}
			{%- for i in site.pages -%}
				{%- if i.url contains page.url and i.url != page.url -%}
					<li><a href={{ i.url | remove: page.url }}>{{ i.url | split: "/" | last | replace: "-", " " }}</a>
				{%- endif -%}
			{%- endfor -%}
		{%- else -%}
			{%- for i in site.pages -%}
				{%- assign groupcheck = i.url | split: "/" -%}
				{%- if groupcheck[2] == nil -%}
					{%- unless i.url == page.url or i.url contains ".html" or i.url contains "css" or i.url contains ".xml" or i.url contains ".js" or i.url == "/" or i.url == "/Home" or i.layout contains "jp" or i.type or i.nonav or i.tagroup -%}
						<li><a href={{ i.url }}>{{ i.url | split: "/" | last | replace: "-", " " }}</a>
					{%- endunless -%}
				{%- endif -%}
			{%- endfor -%}
			<li><details><summary>Art</summary><ul>{%- assign arts = site.pages | where: "tagroup", "Art" -%}{%- for i in arts -%}{%- unless i.url == page.url -%}<li><a href={{ i.url }}>{{ i.url | split: "/" | last | replace: "-", " " }}</a>{%- endunless -%}{%- endfor -%}</details>
			<li><a href=/>Language/言語</a>
		{%- endif -%}
	{%- endif -%}
{% endif %}</ul></nav>
{{ content }}
{% if page.custmfooter %}{{ page.custmfooter }}{% else %}<footer>Header font from <a href=http://velvetyne.fr/fonts/compagnon/ target=_blank>Velvetyne</a></footer>{% endif %}</body></html>