---
layout: default-en
---
<main itemscope itemtype=https://schema.org/BlogPosting>
<section>
<h1 itemprop=headline>{% if page.custmheader %}{{ page.custmheader }}{% else %}{{ page.title }}{% endif %}</h1>
<time itemprop=datePublished datetime={{ page.date | date: "%F" }}>{{ page.date | date: "%e %B %Y" }}</time>
{{ content | replace_first: "<img","<img itemprop=image" }}
</section>
<div class=tags>Tags:<ul>{% for tag in page.tags %}<li><a href=/Tags/{{ tag | slugify }} rel=tag>{{ tag }}</a>{% endfor %}</ul></div>
<div class=tags>Categories:<ul>{% for category in page.categories %}<li><a href=/Categories/{{ category | slugify }} rel=category>{{ category }}</a>{% endfor %}</ul></div>
</main>
<aside>
<h2>Related Posts</h2><ul class="gallery {% unless page.removefooter %}padb{% endunless %}">
{% assign posts = site.related_posts | where: "layout", "post-en" %}
{% for post in posts limit: 14 %}
{% assign outputpost = post.excerpt %}
{% comment %}
{% assign imgattr = outputpost | split:'<img ' %}
{% for i2 in imgattr offset:1 %}
{% assign var2 = i2 | split:'>' | first %}
{% assign outputpost = outputpost | remove: var2 %}
{% endfor %}
{% assign ahref = outputpost | split:'href=' %}
{% for i3 in ahref offset:1 %}
{% assign var2 = i3 | split:' target=_blank>' | first %}
{% assign outputpost = outputpost | remove: var2 %}
{% endfor %}
{% assign sourceattr = outputpost | split:'<source ' %}
{% for i2 in sourceattr offset:1 %}
{% assign var2 = i2 | split:'>' | first %}
{% assign outputpost = outputpost | remove: var2 %}
{% endfor %}
{% assign outputpost = outputpost | remove: "<a href= target=_blank>" | remove: "<img >" | remove: "</a>" | remove:"<source >" | remove:"<picture>" | remove:"</picture>" | remove: "<section>" | remove: "</section>" %}
{% endcomment %}
<li><a href={{ post.url }}>
{% if custmheader %}{{ post.custmheader }}{% else %}{{ post.title }}{% endif %}<br>
<p>{{ outputpost | replace: "</p><p>"," " | strip_html | truncatewords: 20 }}</p>
</a>
{% endfor %}</ul>
</aside>